<div class="container" style="text-align: center;">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= name %></p>
    <a href="/quizme/query/topic?search=programming-test" class="btn btn-secondary">Programming Test</a>
    <a href="/quizme/query/topic?search=biology-test" class="btn btn-secondary">Biology Test</a>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
</div>

