<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleverTech DOjo</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/all.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <div class="container">
        <!-- <i><h1 style="text-align: center; color: red;">CleverTech<span style="color: black;">Dojo</span></h1></i> -->
        <%- body %>
    </div>

    <script src="/public/js/script.js"></script>
    <script src="/public/js/jquery.slim.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>


</body>
</html>